.programView {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows:
    1fr
    1fr;
}

.iconContainer {
  display: relative;
  width: 100%;
  height: 100%
}

.iconHandle {
  position: absolute;
}

.icon {
  width: 100%;
  height: 100%;
}
