@font-face {
  font-family: 'VCR OSD Mono';
  src: url('../assets/VCR_OSD_MONO_1.001.ttf') format('truetype');
}

:root {
  --primary: #C87137;
  --primary-shadow: #cd7e4aff;
  --primary-light: #ffb685ff;
}
