.program_icon_container {
  button {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    &:hover:enabled:not(.activated) {
      // double text shadow
      color: var(--primary-light);
      path, circle {
        stroke: var(--primary-light) !important;
      }
    }

    &.activated {
      // invert
      color: var(--primary-light);

      .label {
        color: black;
        background-color: var(--primary-light);
      }

      path, circle {
        stroke: var(--primary-light) !important;
      }
    }
  }

  .icon {
    height: 100%;
    width: 100%;
  }
}
