.programOption {
  height: 100%;

  &.selected {
    // double text shadow
    color: var(--primary-light);
    path, circle {
      stroke: var(--primary-light) !important;
    }
  }

  &.activated {
    // invert
    color: var(--primary-light);

    .label {
      color: black;
      background-color: var(--primary-light);
    }

    path, circle {
      stroke: var(--primary-light) !important;
    }
  }

  .btn {
    height: 100%;
  }

  .icon {
    width: 75%;
    height: 75%;
  }
}
