
.program_command_menu {
  display: inline-block;
  text-align: left;

  // reduce default spacing betwene buttons
  h1, h2 {
    margin: 0.25em 0;
  }

  h1 {
    font-size: 1.75em;
  }
}

.program_command_list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
