.page {
  height: 100vh;
  width: 100vw;
}

.frame {
  height: 100%;
  width: 100%;
  padding: 16px;
}

.maximums {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tempad {
  height: 100%;
  width: 100%;
  padding: 16px;
  border: 8px solid var(--primary);
  box-shadow: 0 0 var(--spacing-8) var(--primary);
  position: relative;
}

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.view_area {
  position: relative;
  width: 100%;
  height: 100%;
}

.view_container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.view {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.background {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url(/static/img/grid.svg);
  background-repeat: repeat;
  opacity: 0.25;
  filter: blur(2px);
  pointer-events: none;
}


.footer {
  margin-top: 32px;
  padding: 0 0 var(--spacing-2) var(--spacing-4);
  text-align: left;
  font-size: 9pt;
  filter: brightness(0.5);
}

.fading_view {
  width: 100%;
  height: 100%;
  animation: screenOff 1.5s forwards;
  -moz-animation: screenOff 1.5s forwards;
  pointer-events: none;
}

@keyframes screenOff {
  // 20% {
  //   // transform: scale(1, 0.02);
  // }
  // 70% {
  //   // transform: scale(0.2, 0.002);
  //   // opacity: 1
  // }
  100% {
    // transform: scale(0, 0);
    opacity: 0
  }
}