.main_menu_view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.program_icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 16px;
}

.program_icon {
  aspect-ratio: 1;
}

.program_command_menu {
  display: inline-block;
  text-align: left;

  // reduce default spacing betwene buttons
  h1, h2 {
    margin: 0.25em 0;
  }

  h1 {
    font-size: 1.75em;
  }
}

.program_command_list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.program_command {
  //
}