@font-face {
  font-family: 'VCR OSD Mono';
  src: url('/VCR_OSD_MONO_1.001.ttf') format('truetype');
}


:root {
  --primary: #C87137;
  --primary-shadow: #cd7e4aff;
  --primary-light: #ffb685ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary);
  text-align: center;
  font-family: VCR OSD Mono;
  text-transform: uppercase;
  font-size: 3vmin;
  /* font-size: 16pt; */
}

h1, h2 {
  margin: 0.25em 0;
}

#info {
  display: none;

  opacity: 0.25;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: orange;
  min-height: 16px;
  min-width: 64px;
  font-size: 9pt;
}

#info table {
  border-collapse: collapse;
}
#info td, #info th {
  border : 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#page {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#responsive {
  height: 100%;
  width: 100%;
  padding: 16px;
  background-color: rgb(50, 50, 50);
}

#content {
  background-color: rgb(100, 100, 100);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tempac {
  background-color: rgb(10, 30, 60);
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: center;
  align-items: space-between; */
}

#tempac #programs {
  /* flex-grow: 40; */
}

#tempac #menu {
  /* flex-grow: 40; */
}

#tempac #footer {
  /* flex-grow: 10; */
}

#menu-content {
  display: inline-block;
  text-align: left;
}

#menu-list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

#footer {
  text-align: left;
  font-size: 9pt;
  padding: 4px 8px;
}

.menu-item {
  /* display: block; */
  margin: 8px 0;
}

.menu-item>button {
  display: inline-block;
}



.icon {
  /* height: 50px; */
  /* width: 50px; */
  /* max-width: 100%; */
  /* max-height: 100%; */
  width: 75%;
  aspect-ratio: 1;
}

button {
  text-shadow: inherit;
  text-transform: uppercase;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  display: block;
}

button:disabled {
  filter: brightness(0.4);
}

#programs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 16px;
  padding: 16px
}