/* @font-face {
  font-family: 'Press Start';
  src:
    url('/static/fonts/prstart.ttf') format('truetype'),
    url('/static/fonts/prstartk.ttf') format('truetype');
} */

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('/static/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: VCR OSD Mono, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-family: Press Start; */
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #C87137;
  --primary-shadow: #cd7e4aff;
  --primary-light: #ffb685ff;

  --font-size: 16px; /* changed from javascript */

  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 6px;
  --spacing-4: 8px;

  --spacing-5: 10px;
  --spacing-6: 12px;
  --spacing-7: 14px;
  --spacing-8: 16px;

  --spacing-9: 20px;
  --spacing-10: 24px;
  --spacing-11: 28px;
  --spacing-12: 32px;
}

.m-1 { margin: var(--spacing-4); }
.m-2 { margin: var(--spacing-2); }
.m-3 { margin: var(--spacing-3); }
.m-4 { margin: var(--spacing-4); }
.m-5 { margin: var(--spacing-5); }
.m-6 { margin: var(--spacing-6); }
.m-7 { margin: var(--spacing-7); }
.m-8 { margin: var(--spacing-8); }
.m-9 { margin: var(--spacing-9); }
.m-10 { margin: var(--spacing-10); }
.m-11 { margin: var(--spacing-11); }
.m-12 { margin: var(--spacing-12); }

.mt-1 { margin-top: var(--spacing-1); }
.mt-2 { margin-top: var(--spacing-2); }
.mt-3 { margin-top: var(--spacing-3); }
.mt-4 { margin-top: var(--spacing-4); }
.mt-5 { margin-top: var(--spacing-5); }
.mt-6 { margin-top: var(--spacing-6); }
.mt-7 { margin-top: var(--spacing-7); }
.mt-8 { margin-top: var(--spacing-8); }
.mt-9 { margin-top: var(--spacing-9); }
.mt-10 { margin-top: var(--spacing-10); }
.mt-11 { margin-top: var(--spacing-11); }
.mt-12 { margin-top: var(--spacing-12); }

.mr-1 { margin-right: var(--spacing-1); }
.mr-2 { margin-right: var(--spacing-2); }
.mr-3 { margin-right: var(--spacing-3); }
.mr-4 { margin-right: var(--spacing-4); }
.mr-5 { margin-right: var(--spacing-5); }
.mr-6 { margin-right: var(--spacing-6); }
.mr-7 { margin-right: var(--spacing-7); }
.mr-8 { margin-right: var(--spacing-8); }
.mr-9 { margin-right: var(--spacing-9); }
.mr-10 { margin-right: var(--spacing-10); }
.mr-11 { margin-right: var(--spacing-11); }
.mr-12 { margin-right: var(--spacing-12); }

.mb-1 { margin-bottom: var(--spacing-1); }
.mb-2 { margin-bottom: var(--spacing-2); }
.mb-3 { margin-bottom: var(--spacing-3); }
.mb-4 { margin-bottom: var(--spacing-4); }
.mb-5 { margin-bottom: var(--spacing-5); }
.mb-6 { margin-bottom: var(--spacing-6); }
.mb-7 { margin-bottom: var(--spacing-7); }
.mb-8 { margin-bottom: var(--spacing-8); }
.mb-9 { margin-bottom: var(--spacing-9); }
.mb-10 { margin-bottom: var(--spacing-10); }
.mb-11 { margin-bottom: var(--spacing-11); }
.mb-12 { margin-bottom: var(--spacing-12); }

.ml-1 { margin-left: var(--spacing-1); }
.ml-2 { margin-left: var(--spacing-2); }
.ml-3 { margin-left: var(--spacing-3); }
.ml-4 { margin-left: var(--spacing-4); }
.ml-5 { margin-left: var(--spacing-5); }
.ml-6 { margin-left: var(--spacing-6); }
.ml-7 { margin-left: var(--spacing-7); }
.ml-8 { margin-left: var(--spacing-8); }
.ml-9 { margin-left: var(--spacing-9); }
.ml-10 { margin-left: var(--spacing-10); }
.ml-11 { margin-left: var(--spacing-11); }
.ml-12 { margin-left: var(--spacing-12); }

.p-1 { padding: var(--spacing-4); }
.p-2 { padding: var(--spacing-2); }
.p-3 { padding: var(--spacing-3); }
.p-4 { padding: var(--spacing-4); }
.p-5 { padding: var(--spacing-5); }
.p-6 { padding: var(--spacing-6); }
.p-7 { padding: var(--spacing-7); }
.p-8 { padding: var(--spacing-8); }
.p-9 { padding: var(--spacing-9); }
.p-10 { padding: var(--spacing-10); }
.p-11 { padding: var(--spacing-11); }
.p-12 { padding: var(--spacing-12); }

.pt-1 { padding-top: var(--spacing-1); }
.pt-2 { padding-top: var(--spacing-2); }
.pt-3 { padding-top: var(--spacing-3); }
.pt-4 { padding-top: var(--spacing-4); }
.pt-5 { padding-top: var(--spacing-5); }
.pt-6 { padding-top: var(--spacing-6); }
.pt-7 { padding-top: var(--spacing-7); }
.pt-8 { padding-top: var(--spacing-8); }
.pt-9 { padding-top: var(--spacing-9); }
.pt-10 { padding-top: var(--spacing-10); }
.pt-11 { padding-top: var(--spacing-11); }
.pt-12 { padding-top: var(--spacing-12); }

.pr-1 { padding-right: var(--spacing-1); }
.pr-2 { padding-right: var(--spacing-2); }
.pr-3 { padding-right: var(--spacing-3); }
.pr-4 { padding-right: var(--spacing-4); }
.pr-5 { padding-right: var(--spacing-5); }
.pr-6 { padding-right: var(--spacing-6); }
.pr-7 { padding-right: var(--spacing-7); }
.pr-8 { padding-right: var(--spacing-8); }
.pr-9 { padding-right: var(--spacing-9); }
.pr-10 { padding-right: var(--spacing-10); }
.pr-11 { padding-right: var(--spacing-11); }
.pr-12 { padding-right: var(--spacing-12); }

.pb-1 { padding-bottom: var(--spacing-1); }
.pb-2 { padding-bottom: var(--spacing-2); }
.pb-3 { padding-bottom: var(--spacing-3); }
.pb-4 { padding-bottom: var(--spacing-4); }
.pb-5 { padding-bottom: var(--spacing-5); }
.pb-6 { padding-bottom: var(--spacing-6); }
.pb-7 { padding-bottom: var(--spacing-7); }
.pb-8 { padding-bottom: var(--spacing-8); }
.pb-9 { padding-bottom: var(--spacing-9); }
.pb-10 { padding-bottom: var(--spacing-10); }
.pb-11 { padding-bottom: var(--spacing-11); }
.pb-12 { padding-bottom: var(--spacing-12); }

.pl-1 { padding-left: var(--spacing-1); }
.pl-2 { padding-left: var(--spacing-2); }
.pl-3 { padding-left: var(--spacing-3); }
.pl-4 { padding-left: var(--spacing-4); }
.pl-5 { padding-left: var(--spacing-5); }
.pl-6 { padding-left: var(--spacing-6); }
.pl-7 { padding-left: var(--spacing-7); }
.pl-8 { padding-left: var(--spacing-8); }
.pl-9 { padding-left: var(--spacing-9); }
.pl-10 { padding-left: var(--spacing-10); }
.pl-11 { padding-left: var(--spacing-11); }
.pl-12 { padding-left: var(--spacing-12); }

.disabled {
  filter: brightness(0.4);
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

body {
  height: 100vh;
  width: 100vw;

  color: var(--primary);
  text-shadow: 0 0 24px var(--primary-shadow);
  background-color: black;
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size);
}

button {
  text-shadow: inherit;
  text-transform: uppercase;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  display: block;
}

#modal-root {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#modal-root>* {
  pointer-events: auto;
}

.fading {
  pointer-events: none;
  animation: fading 1.5s forwards;
  -moz-animation: fading 1.5s forwards;
  pointer-events: none;
}

@keyframes fading {
  0% {
    opacity: 1;
  }
  100% {
    /* transform: scale(0, 0); */
    opacity: 0;
  }
}

.pe-none {
  pointer-events: none !important;
}